@media (max-width: 991px) { 

  
    .navbar-scroll {
      background-color: #222;
    }
  }
  .navbar-scroll .navbar-brand {
    color: pink;
  }

  .navbar-scrolled {
    background-color: #222;
  }

  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #fff;
  }

  .table tr td.p-tb {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }

  .table tr th,
  .table tr td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .price:before,
  .price:after {
    position: absolute;
    font-size: 1.5rem;
  }

  .price:before {
    content: '$';
    margin-left: -1rem;
  }

 

  // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 


 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 

}