<header>
 
    <!--Section: Design Block-->
    <section id="top-section">
      <!-- Intro -->
      <div id="intro" id="soccerField-bg"class="text-center bg-image vh-100 vw-100 img-fluid" style="
          background-image: url('../assets/images/soccerField.jpg');" alt="Soccerfield at night">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
          <div class=" d-flex container justify-content-center mt-4">
            <div class="text-white">
              <img src="../assets/images/jets.png" alt="East Rochester Jets logo" class="img-fluid" >

             <div class="container container-fluid">
              <div class="row">
                <div class="col-md-3" >
                  <a class="btn btn-outline-white btn-lg" href="#team" role="button">Club Philosophy</a>
                </div>
                <div class="col-md-6" > 
                  <a class="btn btn-outline-white btn-lg" href="#tryouts" role="button">2022/2023 Tryout Information</a>
                </div>
             <div class="col-md-3"> 
              <a class=" btn btn-outline-white btn-lg" href="#contact" role="button">Contact Us</a>
            </div>

            </div> 
            </div>



              <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                        <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
                </div>
          </div>
        </div>
      </div>
      <!-- Intro -->
    </section>
    <!--Section: Design Block-->
  </header>
  
  <main>
    <div class="container my-5">
      <!--Section: Design Block-->
      <section>
        <h3 id="team" class="mb-5">Club Philosophy</h3>
  
        <div class="row">
          <div class="col-lg-7">
            <h5 class="mb-4">Fun & Development</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
              quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit
              eaque delectus, beatae maxime temporibus maiores quibusdam quasi.Rem magnam ad
              perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut
              possimus in hic molestias repellendus illo ullam odit quia velit. Qui expedita sit
              quo, maxime molestiae.
            </p>
          </div>
        </div>
      </section>
      <br>
      <br>
      <section>
        <h3 class="mb-5" id="tryouts">2022/2023 Tryout Information</h3>
  
        <div class="row">
          <div class="col-lg-7">
            <h5 class="mb-4">Boys 2012 (11U)</h5>
              <ul>
                <li>Convenient Year Round Location at East Rochester High School</li>
                <li>Sept - July</li>
                <li>2 Practices a week</li>
                <li>Winter Indoor League (Jan - Apr)</li>
                <li>RDYSL Summer League (May-July)</li>
                <li>Summer Tournaments</li>
                <li>Nationally Licensed Coaches</li>
              </ul>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->
    </div>
  
    <!--Section: Design Block-->
    <section>
      <div class="bg-image bg-fixed text-center" style="
          background-image: url('../assets/images/soccerPlayers.jpg');
          height: 300px;
        " alt="Soccer players">
        <div class="mask" style="background-color: rgba(0, 150, 136, 0.3);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <p class="display-6 mb-5">See our team in action</p>
              <a class="btn btn-outline-white btn-lg" role="button" href="#contact">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Design Block-->
  
    <div class="container my-5">
  
      <!--Section: Design Block-->
      <section class="text-center mb-5" id="contact">
        <h3 class="mb-5">Contact Information</h3>
  
        <p class="text-center mb-5 mx-auto w-responsive">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
          nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
          quia cumque consequatur perferendis hic.
        </p>
  
        <form id="landingPageContact">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
              <ul class="list-unstyled mb-0">
                <li>
                  <i class="fas fa-map-marker-alt fa-2x text-dark"></i>
                  <p>East Rochester, NY</p>
                </li>
                <li>
                  <i class="fas fa-envelope fa-2x text-dark"></i>
                  <p class="mb-0">email@gmail.com</p>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </section>
      <!--Section: Design Block-->
    </div>
  </main>
  
  <!--Section: Design Block-->
  <section>
    <div style="background-color: #b5b8c1; height: 300px;">
      <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
        <h3 class="display-6 text-white mb-0">
          <i class="fas fa-quote-left" aria-hidden="true"></i> When people succeed, it is because
          of hard work. Luck has nothing to do with success.
          <i class="fas fa-quote-right" aria-hidden="true"></i>
        </h3>
      </div>
    </div>
  </section>
  <!--Section: Design Block-->